*devenv/*
screenshots/
pytest_report.json
.cache/
.pytest_cache/
*.pyc
*.pyo
*.swp
.ropeproject/
*.egg-info/
*.egg
.idea/
.tox/
*.iml
.coverage
.tmp
.editorconfig
stat.txt
/tmp
/screenshots
*.log
logs/
users_data/
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
__pycache__
pytest.ini
